.achievement {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../images/dashboard/client.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  background-blend-mode: luminosity;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.achievement h1 {
  font-size: 70px;
}
.achievement h4 {
  /* background-color: rgba(0, 0, 0, 0.425); */
  color: #f85f13;
}
.achievement p {
  color: rgb(236, 230, 230);
}

/* responsive for small devices */
@media (max-width: 568px) {
  .achievement h1 {
    font-size: 50px;
  }
  .achievement {
    height: 130vh;
  }
}
@media (min-width: 569px) and (max-width: 992px) {
  .achievement h1 {
    font-size: 50px;
  }
  .achievement {
    height: 80vh;
  }
}
